body {
background-color: black;
margin: 0px !important;
padding-left: 0px;
padding-right: 0px;
color: white;
font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
margin-bottom: 50px !important;
}

nav ul li {
  display: inline-block;
}

nav ul li {text-align: center;}

header {
padding: 3em 3em 0px 3em;
text-align: center;
background-image: url("../img/barche-tramonto2.jpg");
color: white;
}

h1 {
padding: 2em;
}

nav ul li a {
color: white;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

p , footer a {
  font-weight: 1000;
}

section, footer {
  padding: 4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   }

nav ul li.active {
  background-color: black;
  }

nav ul li.active a {
  color: white;
  }

@media (max-width: 575.98px) {

 nav ul {padding-left: 0px;}
nav ul li { display: block;}

/* Style inputs with type="text", select elements and textareas /
input[type=text], select, textarea {
 width: 100%; / Full width /
 padding: 12px; / Some padding /

 border: 1px solid #ccc; / Gray border /
 border-radius: 4px; / Rounded borders /
 box-sizing: border-box; / Make sure that padding and width stays in place /
 margin-top: 6px; / Add a top margin /
 margin-bottom: 16px; / Bottom margin /
 resize: vertical / Allow the user to vertically resize the textarea (not horizontally) */
}



/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: #4CAF50;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #45a049;
}


/* Add a background color and some padding around the form */
.container {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropbtn:hover {
  background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

button.active {
  background-color: black;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}

.center {
  text-align: center;
}

.pic-container img {
  margin: 5px;
}

.carousel {
  height: 540;
  width: 960px;
  margin:auto;
}
.carousel img{
  height:540;
}

